<mat-card>
  <mat-card-title>Base data</mat-card-title>
  <mat-card-content>
    <form class="example-form" [formGroup]="formGroup">
      <div class="form-fields-row">
        <div class="form-field">
          <mat-form-field>
            <input matInput type="text" class="form-control" placeholder="Enter first name" formControlName="firstName">
          </mat-form-field>
          <drm-validation-errors [formControlToValidate]="formGroup.controls['firstName']"></drm-validation-errors>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput type="text" class="form-control" placeholder="Enter last name" formControlName="lastName">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input [matDatepicker]="birthDatePicker" matInput type="text" placeholder="Enter birth date"
              formControlName="birthdate" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option *ngFor="let item of genders | splitEnum" [value]="item.key">{{item.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>