.form-fields-row {
  display: flex; // Defines the container as flex container
  flex-direction: row;
  flex-wrap: wrap;
}

.form-field {
  margin-right: 10px;
  flex-basis: auto; // basic Width of each element, Auto defined to take the place needed
}
